
.profile-statistic {

  .profile-statistic-item {

    /*display: -webkit-inline-box;
    display: -ms-inline-flexbox;*/
    display: inline-flex;

    /*-webkit-box-flex: 0;
    -ms-flex: 0 1 auto;*/
    flex: 0 1 auto;

    /*-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;*/
    flex-direction: column;

    margin: 0 1.5em 1em;
    max-width: auto;

    .profile-statistic-item-value {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1em;
      text-align: center;
    }

    .profile-statistic-item-label {
      text-transform: uppercase;
      text-align: center;
    }
  }
}
