@import "../../../../../styles/variables";
@import "~bootstrap/scss/mixins";

:host {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 8px 16px;

  @include media-breakpoint-up(sm) {
    padding: 0 16px 16px;
  }

  &__header,
  &__content,
  &__footer {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__header {
    align-items: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    flex: 0 0 auto;
    padding: 8px;
  }

  &__content {
    overflow: auto;
    position: relative;

    .cards {
      height: 100%;
      overflow-y: auto;
      margin: 0 8px;
      padding: 8px 0;

      .card {

        + .card {
          margin-top: 8px;
        }
      }
    }
  }

  &__footer {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px;
  }
}

.main-menu {

  button {

    &.mat-menu-item {
      align-items: center;
      display: flex;

      span {
        flex: 1 1 auto;
      }

      .mat-icon {
        margin-right: 0;
      }
    }
  }
}

.sub-menu {
  padding: 0 16px;

  .form-group {

    mat-select {
      width: 100%;
    }
  }
}
