<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<!--<div class="mat-elevation-z8">-->
<div>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Lastname Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
      <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
      <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rollen </th>
      <td mat-cell *matCellDef="let row">
        <span *ngFor="let role of row.roles; let last = last">{{role}}<span *ngIf="!last">, </span></span>
      </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bearbeiten </th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          (click)="onUserSelect(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

