<nav
  mat-tab-nav-bar
  class="team-nav">
  <a
    #refSettings="routerLinkActive"
    mat-tab-link
    routerLinkActive
    [active]="refSettings.isActive"
    [routerLink]="['settings']">
    Einstellungen
  </a>
  <a
    #refMembers="routerLinkActive"
    mat-tab-link
    routerLinkActive
    [active]="refMembers.isActive"
    [routerLink]="['members']">
    Mitglieder
  </a>
  <a
    #refBoards="routerLinkActive"
    mat-tab-link
    routerLinkActive
    [active]="refBoards.isActive"
    [routerLink]="['boards']">
    Boards
  </a>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>


