@import 'boards-theme';
@import 'aok-theme';
@import 'fsd-theme';

@include mat-core();

body {

  .mat-dialog-content {
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      max-height: 50vh;
    }
  }

  .mat-button-toggle-group-appearance-standard {
    border: none;

    .mat-button-toggle {

      + .mat-button-toggle {
        border-left: none;
      }
    }

    &.mat-button-toggle-vertical {

      .mat-button-toggle {

        + .mat-button-toggle {
          border-top: none;
        }
      }
    }
  }

  .mat-button-toggle-checked {}

  .mat-button-toggle-group {
    // border-radius: 0;
    // box-shadow: none;

    .mat-button-toggle {

      &--label-color {

        .mat-button-toggle-button {
          // width: 100%;
        }

        .mat-button-toggle-label-content {
          // padding: 0 8px;
        }
      }

      &--member {

        .mat-button-toggle-button {
          // margin: 0;
        }
      }
    }
  }

  .boards-message {
    background-color: $brand-primary;
    color: white;

    button {
      color: white;
    }
  }

  .square-button {
    background-color: #eee;
  }
}

