<div class="container-fluid">

  <div *ngIf="showError" class="alert alert-danger d-flex align-items-center" role="alert">
    <mat-icon>warning</mat-icon>
    <p class="ml-3 mb-0">Der Link konnte nicht versendet werden.</p>
  </div>

  <mat-card class="card_container" [ngClass]="{'loading': loading}">
    <mat-card-title>
      Passwort vergessen
    </mat-card-title>
    <mat-card-content>

      <p>Geben Sie Ihren Nutzernamen ein. Sie erhalten einen Link per Email zu einer Seite, auf der Sie ein neues Passwort vergeben können.</p>

      <form [formGroup]="form">
        <div class="form-group">
          <label>Nutzername:
            <input
              class="form-control"
              formControlName="username"
              autocorrect="off"
              autocapitalize="none"
              [disabled]="loading"
              [required]="true">
          </label>
        </div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid || loading"
          (click)="sendMail()">
          Link anfordern
        </button>
        <button
          mat-raised-button
          color="default"
          [disabled]="loading"
          [routerLink]="['/login']">
          Zurück zum Login
        </button>
      </form>

      <span *ngIf="loading" class="card_spinner">
        <mat-progress-spinner
          class="file-spinner"
          mode="indeterminate"
          [diameter]="40"
          color="primary">
        </mat-progress-spinner>
      </span>

    </mat-card-content>
  </mat-card>
</div>
