@import "../../../../../styles/variables";
@import "~bootstrap/scss/mixins";

:host {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;

  @include media-breakpoint-up(sm) {
    width: 500px;
  }
}

.card {
  &_container {
    position: relative;

    &.loading {
      opacity: 0.5;
    }
  }

  &_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
