<form
  autocomplete="off"
  spellcheck="false"
  [formGroup]="form">

  <mat-form-field>
    <input
      matInput
      required
      formControlName="oldPassword"
      autocomplete="new-password"
      [type]="hidePassword1 ? 'password' : 'text'"
      placeholder="altes Passwort">
    <mat-icon
      matSuffix
      (click)="hidePassword1 = !hidePassword1">
      {{hidePassword1 ? 'visibility' : 'visibility_off'}}
    </mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      required
      formControlName="newPassword"
      autocomplete="new-password"
      [type]="hidePassword2 ? 'password' : 'text'"
      placeholder="neues Passwort">
    <mat-icon
      matSuffix
      (click)="hidePassword2 = !hidePassword2">
      {{hidePassword2 ? 'visibility' : 'visibility_off'}}
    </mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      required
      formControlName="newPasswordConfirmation"
      autocomplete="new-password"
      [type]="hidePassword3 ? 'password' : 'text'"
      placeholder="neues Passwort bestätigen">
    <mat-icon
      matSuffix
      (click)="hidePassword3 = !hidePassword3">
      {{hidePassword3 ? 'visibility' : 'visibility_off'}}
    </mat-icon>
  </mat-form-field>
<mat-error *ngIf="!confirmedPw">Das neue Passwort stimmt nicht mit der Bestätigung überein!</mat-error>
  <div class="password-form__actions">
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="form.invalid"
      (click)="onChangePassword()">
      Passwort ändern
    </button>
  </div>
</form>
