:host {
  height: 100%;
  width: 100%;
}

.card-user {
  align-items: center;
  background-color: #eee;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  justify-content: center;
}
