<div class="login container-fluid">

  <div *ngIf="showError" class="alert alert-danger d-flex align-items-center" role="alert">
    <mat-icon>warning</mat-icon>
    <p class="ml-3 mb-0">Das Token zum Zurücksetzen des Passworts ist abgelaufen. Bitte fordern Sie den Link <a [routerLink]="['/password-forgotten']">hier</a> neu an.</p>
  </div>

  <mat-card class="card_container" [ngClass]="{'loading': loading}">
    <mat-card-title>
      Passwort setzen
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <div class="form-group">
          <label>Passwort:
            <input
              class="form-control"
              type="password"
              formControlName="password">
          </label>
        </div>
        <div class="form-group">
          <label>Passwort wiederholen:
            <input
              class="form-control"
              type="password"
              formControlName="password2">
          </label>
        </div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid || !passwordsEqual"
          (click)="reset()">
          Speichern
        </button>
      </form>

      <span *ngIf="loading" class="card_spinner">
        <mat-progress-spinner
          class="file-spinner"
          mode="indeterminate"
          [diameter]="40"
          color="primary">
        </mat-progress-spinner>
      </span>
    </mat-card-content>
  </mat-card>
</div>
